@charset "UTF-8";

/******************************************************
** GENERAL
******************************************************/

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-size: 62.5%; /* == 10px; */
    font-family: Arial, Arial, Helvetica, sans-serif;
}


/******************************************************
** ELEMENTS
******************************************************/


/******************************************************
** HELPERS
******************************************************/

.hide 
{
    display: none;
}

.clearfix
{
    clear: both;
}

.left
{
	float: left;
}

.right
{
	float: right;
}