{% extends "base.twig" %}

{% block content %}
<div id="error500">
    <h1>Interne server fout.</h1>
    {% if dev %}
    <p>{{ error }}</p>
    <h1>Stack trace</h1>
    <ul>
        {% for message in trace %}
        <li>{{ message.file }} on line {{ message.line }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>De pagina die u probeert te bereiken kon niet worden geladen.</p>
    {% endif %}
</div>
{% endblock %}